@model MobizAdmin.Data.Services
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addServiceLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-page-handler="CreateServiceModal" id="ServiceModal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ServiceName" class="control-label"></label>
                            <input asp-for="ServiceName" class="form-control" />
                            <span asp-validation-for="ServiceName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ApiKey" class="control-label"></label>
                            <input asp-for="ApiKey" class="form-control" />
                            <span asp-validation-for="ApiKey" class="text-danger"></span>
                        </div>        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-save="modal" onclick="CreateService()">Save</button>
                </div>
            </div>
        </div>
    </div>