@model MobizAdmin.Data.Ratedetails

@{
    ViewData["Title"] = "Create";
}
<div class="container2">
    <form asp-action="Create" id="Create">
        <div class="toppane">
            <div class="form-group">
                <label class="control-label">Select Service</label>
                <select asp-items="@ViewBag.Services" id="ServiceSelect">
                    <option value="null">-Select Service-</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Select Service Rate</label>
                <select id="ServiceRateSelect">
                    <option value="null">-Select Service Rate-</option>
                </select>
            </div>
            <div class="ServiceDetails">
                <span style="float:left;margin-right:20px;">
                    <label>ServiceId</label>
                    <input readonly id="ServiceId" />
                </span>
                <span style="float:left">
                    <label>ServiceName</label>
                    <input readonly id="ServiceName" />
                </span>
            </div>
            <br style="clear:both;" />
            <div class="details">
                <span style="float:left;margin-right:20px;">
                    <label>defDate</label>
                    <input readonly id="defDate" />
                </span>
                <span style="float:left;margin-right:20px;">
                    <label>appDate</label>
                    <input readonly id="appDate" />
                </span>
                <span style="float:left;margin-right:20px;">
                    <label>endDate</label>
                    <input readonly id="endDate" />
                </span>
                <span style="float:left;margin-right:20px;">
                    <label>verNum</label>
                    <input readonly id="verNum" />
                </span>
                <span style="float:left;margin-right:20px;">
                    <label>nCat</label>
                    <input readonly id="nOfCategories" value="0" size="1" />
                </span>
                <span style="float:left;margin-right:20px;">
                    <label>nDet</label>
                    <input readonly id="nOfRateDetails" value="0" size="1" />
                </span>
                <span style="float:left;">
                    <label>nTar</label>
                    <input readonly id="nOfRateTargets" value="0" size="1" />
                </span>
            </div>
            <br style="clear:both;" />
            <div>
                <span style="float:left;margin-right:20px;">
                    <label>Category Id</label>
                    <input readonly size="1" id="CatId" />
                </span>
                <span style="float:left">
                    <label>Rates Details Id</label>
                    <input readonly size="1" id="RdId" />
                </span>
            </div>
        </div>
        <br style="clear:both;" />
        <h4 style="text-align: center;">Rates Details</h4>
        <hr />
        <div class="leftpane">
            <h4>Rates Categories Selected</h4>
            <table id="RatesCategoriesSelected">
            </table>
            <hr width="100%" />
            <h4>Rates Categories Not Selected</h4>
            <table id="RatesCategoriesNotSelected">
            </table>
        </div>
        <div class="middlepane">
            <h4>Conditions</h4>
            <textarea class="form-control" id="Conditions"></textarea>
            <h4 class="control-label">Variables</h4>
            <div id="Variables" name="Variables">
                <div>
                    <label>Date Time Order</label>
                    <input type="datetime-local">
                </div>
                <div>
                    <label>Date Time PickUp</label>
                    <input type="datetime-local">
                </div>
                <div>
                    <label>Kms</label>
                    <input type="number" name="Kms" id="Kms" />
                </div>
                <div>
                    <label>Minutes Drive</label>
                    <input type="number" name="Drive" id="Drive" />
                </div>
                <div>
                    <label>Minutes Wait</label>
                    <input type="number" name="Wait" id="Wait" />
                </div>
                <div>
                    <label>Pax</label>
                    <input type="number" id="Pax" />
                </div>
                <div>
                    <label>Vehicle</label>
                    <input id="Vehicle" />
                </div>
                <div>
                    <label>Promo Code</label>
                    <input id="Promo" />
                </div>
                <div>
                    <label>Business</label>
                    <input id="Business" />
                </div>
                <div>
                    <br />
                    <button type="button" onclick="SimulateTrip()">Simulate</button>
                </div>
                <div>
                    <label>Price</label>
                    <input readonly id="Total" />
                </div>
            </div>
        </div>
        <div class="rightpane" name="Default" id="Defaults">
            <h4>Defaults</h4>
            <div name="EurKm" id="EurKm">
                <label>EurKm:</label>
                <input size="1" id="EurKmOp" maxlength="1" onkeypress="return blockSpecialChar(event)" name="Op" />
                <input width="3" id="EurKmFigure" name="Figure" type="number" />
                <input type="checkbox" value="EurKm" name="EurKmCheckbox" class="chBox" onchange="DefaultsCheckBox(this.value)" id="EurKmCheckbox" />
            </div>
            <div name="EurMinDrive" id="EurMinDrive">
                <label>EurMinDrive:</label>
                <input size="1" id="EurMinDriveOp" maxlength="1" onkeypress="return blockSpecialChar(event)" name="Op" />
                <input width="25" id="EurMinDriveFigure" name="Figure" type="number" />
                <input type="checkbox" value="EurMinDrive" onchange="DefaultsCheckBox(this.value)" id="EurMinDriveCheckbox" />
            </div>
            <div name="EurMinWait" id="EurMinWait">
                <label>EurMinWait:</label>
                <input size="1" id="EurMinWaitOp" maxlength="1" onkeypress="return blockSpecialChar(event)" name="Op" />
                <input width="25" id="EurMinWaitFigure" name="Figure" type="number" />
                <input type="checkbox" value="EurMinWait" onchange="DefaultsCheckBox(this.value)" id="EurMinWaitCheckbox" />
            </div>
            <div name="EurMinimum" id="EurMinimum">
                <label>EurMinimum:</label>
                <input width="25" id="EurMinimumFigure" name="Figure" type="number" />
                <input type="checkbox" value="EurMinimum" onchange="DefaultsCheckBox(this.value)" id="EurMinimumCheckbox" />
            </div>
            <div name="MaxPax" id="MaxPax">
                <label>MaxPax:</label>
                <input size="1" id="MaxPaxOp" maxlength="1" onkeypress="return blockSpecialChar(event)" name="Op" />
                <input width="25" id="MaxPaxFigure" name="Figure" type="number" />
                <input type="checkbox" value="MaxPax" onchange="DefaultsCheckBox(this.value)" id="MaxPaxCheckbox" />
            </div>
            <div>
                <br /><br />
                <span>
                    <button type="button" onclick="Save()" style="float:left;margin-right:20px;">Save</button>
                </span>
                <span>
                    <button type="reset" onclick="Reset()" style="float:left;">Reset</button>
                </span>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/Create.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}