@{
    ViewData["Title"] = "Create";
}

<h1>Create Service Details</h1>
<div>
    <div>
        <form asp-action="Create" id="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select Service</label>
                <select asp-items="@ViewBag.Services" id="ServiceSelect">
                    <option value="null">-Select Service-</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Select Service Rate</label>
                <select id="ServiceRateSelect">
                    <option value="null">-Select Service Rate-</option>
                </select>
            </div>
            <div class="form-group">
                <input readonly id="ServiceId" />
                <input readonly id="ServiceName" />
            </div>
            <div class="form-group">
                <input readonly id="defDate" />
                <input readonly id="appDate" />
                <input readonly id="appDate" />
                <input readonly id="verNum" />
                <label>nCat</label>
                <input readonly id="nOfCategories" size="1" />
                <label>nDet</label>
                <input readonly id="nOfRateDetails" size="1" />
                <label>nTar</label>
                <input readonly id="nOfRateTargets" size="1" />
            </div>
            <h4 style="text-align: center;">Rates Details</h4>
            <div>
                <div class="class1">
                    <div>
                        <section id="RatesDetailsSection">
                            <label class="control-label">Rates Categories Selected</label>
                            <table id="RatesCategoriesSelected" width="100%">
                            </table>
                            <hr width="100%" />
                            <label class="control-label">Rates Categories Not Selected</label>
                            <table id="RatesCategoriesNotSelected" width="100%">
                            </table>
                        </section>
                    </div>
                    <div class="class2">
                        <label class="control-label">Conditions</label>
                        <textarea class="form-control" id="Conditions"></textarea>
                        <label class="control-label">Variables</label>
                        <div>
                            <div style="text-align:center;">
                                <label>Date Time Order</label>
                                <input type="datetime-local">
                            </div>
                            <div>
                                <label>Date Time PickUp</label>
                                <input type="datetime-local">
                            </div>
                            <div>
                                <label>Kms</label>
                                <input type="number" id="Kms" />
                            </div>
                            <div>
                                <label>Minutes Drive</label>
                                <input type="number" id="Drive" />
                            </div>
                            <div>
                                <label>Minutes Wait</label>
                                <input type="number" id="Wait" />
                            </div>
                            <div>
                                <label>Pax</label>
                                <input type="number" id="Pax" />
                            </div>
                            <div>
                                <label>Vehicle</label>
                                <input id="Vehicle" />
                            </div>
                            <div>
                                <label>Promo Code</label>
                                <input id="Promo" />
                            </div>
                            <div>
                                <label>Business</label>
                                <input id="Business" />
                            </div>
                            <div>
                                <button type="button" onclick="SimulateTrip()">Simulate</button>
                            </div>
                            <div>
                                <input readonly id="Total" />
                            </div>
                        </div>
                    </div>
                    <div class="class3">
                        <label class="control-label">Defaults</label>
                        <div name="EurKm" id="EurKm">
                            <input size="1" id="EurKmOp" name="Op" />
                            <input size="5" id="EurKmFigure" name="Figure" type="number" />
                            <label>EurKm:</label>
                            <input type="checkbox" value="EurKm" onchange="DefaultsCheckBox(this.value)" id="EurKmCheckbox" />
                        </div>
                        <div name="EurMinDrive" id="EurMinDrive">
                            <input size="1" id="EurMinDriveOp" name="Op" />
                            <input size="5" id="EurMinDriveFigure" name="Figure" type="number" />
                            <label>EurMinDrive:</label>
                            <input type="checkbox" value="EurMinDrive" onchange="DefaultsCheckBox(this.value)" id="EurMinDriveCheckbox" />
                        </div>
                        <div name="EurMinWait" id="EurMinWait">
                            <input size="1" id="EurMinWaitOp" name="Op" />
                            <input size="5" id="EurMinWaitFigure" name="Figure" type="number" />
                            <label>EurMinWait:</label>
                            <input type="checkbox" value="EurMinWait" onchange="DefaultsCheckBox(this.value)" id="EurMinWaitCheckbox" />
                        </div>
                        <div name="EurMinimum" id="EurMinimum">
                            <input size="5" id="EurMinimumFigure" name="Figure" type="number" />
                            <label>EurMinimum:</label>
                            <input type="checkbox" value="EurMinimum" onchange="DefaultsCheckBox(this.value)" id="EurMinimumCheckbox" />
                        </div>
                        <div name="MaxPax" id="MaxPax">
                            <input size="1" id="MaxPaxOp" name="Op" />
                            <input size="5" id="MaxPaxFigure" name="Figure" type="number" />
                            <label>MaxPax:</label>
                            <input type="checkbox" value="MaxPax" onchange="DefaultsCheckBox(this.value)" id="MaxPaxCheckbox" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/Create.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}